<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- app-header is a component that brings data and represent in Top -->
  <app-header></app-header>
  <!-- app-home is a component that brings data and represent in middle of the page -->
  <app-home></app-home>
  <!-- app-footer is a component that brings data and represent in Bottom -->
  <app-footer></app-footer>
</body>
</html>